<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/someimage.jpg">

</head>
<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/someimage.jpg">
    </div>
    {{>footer}}

</body>
</html>
