<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/someimage.jpg">

</head>
<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/someimage.jpg">
        <p>Emily Shi is currently studying Computer Engineering at the University of Waterloo, and expects to graduate in 2023. Her next available co-op work term is Summer 2020.</p>
    </div>
    {{>footer}}

</body>
</html>
