<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Emily's Website</title>
    <link rel="icon" href="/img/someimage.jpg">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>Welcome to my website</p>
        <p>It is currently under construction. Thanks for visiting.</p>
        <form>
            <input placeholder="search term goes here">
            <button>Search</button>
        </form>
    </div>
    {{>footer}}

</body>

</html>
