<header>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #eea67a;
        }

        li {
            float: left;
            position: sticky;
        }

        li a {
            display: flex;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        li a:hover {
            background-color: coral;
            color: white;
        }

    </style>
    <h1>{{title}}</h1>
        <ul>
        <li><a class="home" href="/">Home</a></li>
        <li><a class="about" href="/about">About</a></li>
        <li><a class="help" href="/help">Help</a></li>
        <li><a class="weather" href="/weather">Weather</a></li></ul>
</header>
